.parent {
  display: grid;
  grid-template-columns: repeat(5, minmax(20px, 1fr));
  grid-template-rows: repeat(5, minmax(20px, 1fr));
  border: 2px solid black;
  grid-gap: 2px;
  background-color: black;

  /* row-gap: 10px;
  column-gap: 10px; */
}
.child{
  background-color: white;
  padding: 17px;
  /* background-color: #a52a2a; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  /* border-top: 1px solid black;
  border-left: 1px solid black; */
}
.child_active{
  background-color: #27b396;
  color: white;
  cursor: pointer;
}
.child:hover{
  background-color: #27b396;
  color: white;
  cursor: pointer;
}
  
  